:root {
    --white: #fff;
    --dark-blue: #13293d;
    --tan: #d8a47f;
    /* You can use it with any value that is repeated throughout the sheet */
}

body{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    
    display: flex;
    /* height:100vh; */
    align-items: center;
    justify-content: center;
}

.quiz-outline-box{
    width:80%;
    margin:0 auto;
    max-width: 800px;
    background:#fff;
    padding:20px;

    border:5px solid #000;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8)
}

header {
    background:pink;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    font-size:1.2em;
}
#home-btn{display:none;}

footer{
    background:pink;
    text-align: center;padding:10px 0;
    font-size:0.83em;
}
main {
    padding:30px 0;
}
#home{text-align: center;}
#home-btn img{width:100px}

#home img{width:100%;}
#game-stage {
    position:relative;
    display:none;
}
#scoreboard {display:none;}

#time-left {
    position:absolute;
    font-size:22px;
    font-family: 'Fredoka One', cursive;
    border:3px solid black;
    border-radius: 100px;
    background:white;
    width:60px;
    height:60px;
    top:-20px;
    right:5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#time-left.deducted{
    border:5px solid red;
    color:red;
    background-color:pink;
    width:64px;
    height:64px;
    top:-22px;
    right:3px;
    transition: border 1s, color 1s, background-color 1s;
}
#game-stage img{
    width:100%;
    height:40vh;
    object-fit: cover;
    display:block;
    max-height: 400px;
    min-height: 200px;
}
#game-stage p{
    font-family: 'Fredoka One', cursive;
    font-size:1.8em;
    padding:10px 0;
}
#game-stage ol{
    display:flex; 
    flex-wrap: wrap;
    justify-content:space-between;}
#game-stage li{
    position:relative;
    width:49%;
    font-size:1.4em;
    padding:20px;
    background:rgb(183, 183, 183);
    margin-bottom:7px;
    border-radius: 10px;
    border:3px solid #000;
    font-family: 'Fredoka One', cursive;
}
#game-stage li:hover{
    cursor: pointer;
    background-color:#abdd00;
}


#game-stage li span{
    position:absolute;
    text-align:center;
    padding-top:50px;
    top:-35px;
    right:5px;
    padding-right:4px;
    width:140px;height:158px;
    font-size:20px;
    color:white;
    
    background-size: cover;
    background-position: center;
    z-index: 1;
}
#game-stage li.clicked-right{
    background-color:#556dd8;
}
#game-stage li.clicked-wrong{
    background-color:#fd92ab;
}
#game-stage li.clicked-right span{
    background-image:url(../images/paint/drop2.png);
}
#game-stage li.clicked-wrong span{
    background-image:url(../images/paint/drop3.png);
    color:black;
}
#gameover{display:none;}

#scorebox{display:none;}
#score-list table{width:80%;margin:0 auto;}
#score-list th{background-color: bisque;}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
    .quiz-outline-box{
        width:95%;
    }
    #game-stage li{
        width:100%;
    }   

    
}
  