:root {
    --mainColor: pink;
    --gray :rgb(183, 183, 183);
}

body{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    
    display: flex;
    /* height:100vh; */
    align-items: center;
    justify-content: center;
    font-family: 'Fredoka', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Fredoka One', cursive;
}

header h1{font-size:2em;line-height: 140%;}

.quiz-outline-box{
    width:90%;
    margin:0 auto;
    max-width: 960px;
    background:#fff;
    padding:20px;

    border:5px solid #000;
    border-radius: 20px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.8)
}

header {
    background:var(--mainColor);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:15px;
    font-size:1.2em;
}
header nav{display:flex;align-items: center;}
header nav button{margin-left:3px;margin-right:3px;}

footer{
    background:var(--mainColor);
    text-align: center;padding:10px 0;
    font-size:0.83em;
}
main {
    padding:20px 0;
}
#home{text-align: center;}
button{
    padding:6px 10px;
    font-size: 15px;
    border-radius: 5px;
    margin:0 10px;
}
button:hover{
    cursor:pointer;
}
#home-btn{
    display:none;

}
#start-btn {    
    font-family: 'Fredoka One', cursive;
    font-size:20px;
    border:4px solid black;
    width:100px;height:100px;border-radius: 100px;
    margin-top:-50px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}
#start-btn:hover {    
    box-shadow: 0 0 15px rgba(207, 2, 2, 0.7);
}

#home img{width:100%;}
#game-stage {
    position:relative;
    display:none;
}
#scoreboard {display:none;}

#time-left {
    position:absolute;
    font-size:25px;
    border:3px solid black;
    border-radius: 100px;
    background:white;
    width:80px;
    height:80px;
    top:-20px;
    right:8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fredoka One', cursive;
}
#time-left.deducted{
    border:5px solid red;
    color:red;
    background-color:pink;
    width:86px;
    height:86px;
    top:-22px;
    right:5px;
    transition: border 1s, color 1s, background-color 1s;
}
#game-stage img{
    width:100%;
    height:40vh;
    object-fit: cover;
    display:block;
    max-height: 400px;
    min-height: 200px;
}
#game-stage p{
    font-size:1.8em;
    padding:10px 0;
}
#game-stage ol{
    display:flex; 
    flex-wrap: wrap;
    justify-content:space-between;}
#game-stage li{
    position:relative;
    width:49%;
    font-size:1.4em;
    padding:20px;
    background:var(--gray);
    margin-bottom:7px;
    border-radius: 10px;
    border:3px solid #000;
}
#game-stage li:hover{
    cursor: pointer;
    background-color:#abdd00;
}


#game-stage li span{
    position:absolute;
    text-align:center;
    padding-top:50px;
    top:-35px;
    right:5px;
    padding-right:4px;
    width:140px;height:158px;
    font-size:20px;
    color:white;
    
    background-size: cover;
    background-position: center;
    z-index: 1;
}
#game-stage li.clicked-right{
    background-color:#556dd8;
}
#game-stage li.clicked-wrong{
    background-color:#fd92ab;
}
#game-stage li.clicked-right span{
    background-image:url(../images/paint/drop2.png);
}
#game-stage li.clicked-wrong span{
    background-image:url(../images/paint/drop3.png);
    color:black;
}
#gameover{display:none;
background:url(../images/paint.gif) 20% 50% no-repeat;}

#gameover .flexbox{
    display:flex;
    justify-content: space-around;
}
#game-over-img{width:40%;}
#gameover .contents{width:50%;}
#game-over-msg {
    padding-top:10px;
    font-size:2.3em;
    font-weight:normal;
    margin-bottom:15px;}
#gameover h3{
    font-size:1.8em;
    margin-bottom:30px;
}
#gameover form p,#gameover label,#gameover input{
    line-height:200%;font-size:1.2em;}
#gameover #gamer-name{width:110px;height:40px;}


#scorebox{
    display:none;
    min-height:300px
}
#scorebox h2{
    font-size:1.8em;
    text-align: center;
    margin:0 0 10px;

}
#scorebox .buttons{display:flex;justify-content: center;}

#score-list{margin-bottom:30px;}
#score-list table{width:80%;margin:0 auto;}
#score-list tr:nth-child(odd) {
    background-color: gainsboro ;
}
#score-list th{
    background-color: bisque;
    padding:7px 10px;
    font-size:1.2em;
    border-radius: 5px;
}
.nodata{text-align: center;padding:30px;}
.nodata img{width:50%;display:block;margin:0 auto;}

#score-list td{
    padding:5px 10px;
    text-align:center;
    font-size:1.1em;
}
#score-list td.ini{
    text-align:left;
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 768px) {
    .quiz-outline-box{
        width:95%;
        padding:10px;
    }
    header h1{font-size:1.5em;}

    #gameover .flexbox{
       flex-direction: column;
       align-items: center;
    }
    #game-over-img{width:50%;}
    #gameover .contents{width:90%;}

}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
    header{padding:10px;}
    header h1{font-size:1.3em;}
    #game-stage li{
        width:100%;
    }   
    
    #game-stage img{
        height:25vh;
    }
    button{
        padding:6px 4px;
    }
    #game-stage p {font-size:1.5em}
    #game-stage li {padding:17px 20px;}
    #game-stage li:hover{background-color: var(--gray);}

    #game-stage li.clicked-right:hover{
        background-color:#556dd8;
    }
    #game-stage li.clicked-wrong:hover{
        background-color:#fd92ab;
    }
}
  